@model TransportesMVC.Models.rutas

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar_Ruta", "Rutas", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @* HIDDEN FOR ESTÁ OCULTO *@
            @Html.HiddenFor(d => d.id_Ruta)

            <div>
                @Html.LabelFor(d => d.distancia)
                @Html.TextBoxFor(d => d.distancia, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.distancia, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.fecha_salida)
                @Html.EditorFor(d => d.fecha_salida, "", new { @class = "date" })
            </div>
            <div>
                @Html.LabelFor(d => d.fecha_llegada_estimada)
                @Html.EditorFor(d => d.fecha_llegada_estimada, "", new { @class = "date" })
            </div>
            @* NO SE USA LABELFOR PORQUE NO ES UN ATRIBUTO COMO TAL *@
            <div>
                @Html.Label("Camión")
                @Html.DropDownListFor(d => d.camion_id, new SelectList(ViewBag.ListaCamiones, "id_camion", "matricula"), new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Chofer")
                @Html.DropDownListFor(d => d.chofer_id, new SelectList(ViewBag.ListaChoferes, "id_chofer", "nombrechofer"), new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Dirección Origen")
                @Html.DropDownListFor(d => d.direcciones_origen_id, new SelectList(ViewBag.ListaDirecciones, "id_direccion", "calle"), new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Dirección Destino")
                @Html.DropDownListFor(d => d.direcciones_destino_id, new SelectList(ViewBag.ListaDirecciones, "id_direccion", "calle"), new { @class = "form-control" })
            </div>

            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>


        </div>

    </div>
}

