@model List<TransportesMVC.Models.ViewModels.ListViewRuta>
@{
    ViewBag.Title = "Lista de rutas con LinQ";
}

<h3 class="mt-5 mb-2 text-secondary">@ViewBag.Title</h3>

<div class="row">
    <div class="col-xs-2" style="text-align:right;">
        <a href="~/Rutas/Nueva_Ruta" class="btn btn-primary mb-3">Nueva ruta</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table stripped table-bordered">
            <tr class="bg-info">
                <th>Id_ruta</th>
                <th>Matricula camion</th>
                <th>Chofer</th>
                <th>Origen </th>
                <th>Destino</th>
                <th>Fecha salida</th>
                <th>Fecha llegada estimada</th>
                <th>Editar</th>
                <th>Eliminar</th>

                @foreach (var ruta in Model)
                {
<tr>
                    <td>@ruta.id_ruta</td>
                    <td>@ruta.matricula</td>
                    <td>@ruta.chofer</td>
                    <td>@ruta.direcciones_origen</td>
                    <td>@ruta.direcciones_destino</td>
                    <td>@ruta.fecha_salida</td>
                    <td>@ruta.fecha_llegada_estimada</td>
                    <td>
                        <a class="btn btn-warning" href="~/Rutas/Editar_Ruta/@ruta.id_ruta"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="~/Rutas/Eliminar_Ruta/@ruta.id_ruta"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
            }


            </table>
        </div>
    </div>
