@* ponemos model en minúscula porque es un helper *@
@model List<TransportesMVC.Models.ViewModels.CamionesLista>
@{
    ViewBag.Title = "Lista de camiones";
}

<h3 class="text-center mb-4">@ViewBag.Title</h3>

<div class="row">
    <div class="col-xs-2" style="text-align:right;">
        <a href="~/Camiones/Nuevo_Camion" class="btn btn-primary mb-3">Nuevo Camión</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered text-center">
            <tr class="bg-warning">
                <th>id_camion</th>
                <th>Matricula</th>
                <th>Tipo camion</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Kilometraje</th>
                <th>UrlFoto</th>
                <th>Disponibilidad</th>
                @foreach (var Elemento in Model)
                {
                <tr>
                    <td>@Elemento.id_camion</td>
                    <td>@Elemento.matricula</td>
                    <td>@Elemento.tipo_camion</td>
                    <td>@Elemento.marca</td>
                    <td>@Elemento.modelo</td>
                    <td>@Elemento.capacidad</td>
                    <td>@Elemento.kilometraje</td>
                    <td>@Elemento.urlFoto</td>
                    <td>@Elemento.disponibilidad</td>
                </tr>

            }
            </table>
        </div>
    </div>

